PORT=5050

CLIENT_URL=http://localhost:5173

MONGO_URI=mongodb+srv://VSChat:uizY4w9k7abnmrpQ@vschat.4n7q9qr.mongodb.net/?appName=VSChat

JWT_SECRET=41036cf02cee38e8be62c8f141625e579532dd491deac43a1ea80533b140e614

CLOUDINARY_CLOUD_NAME=dcv4rgpio
CLOUDINARY_API_KEY=648599957173894
CLOUDINARY_API_SECRET=iEEWBJ9TPqHHNMVOctx1hSE5Ns0

MAX_ROOM_USERS=50

ALLOW_PUBLIC_REGISTER=true